
.form form {
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.form h1{
    color: #fff;
}
.form label {
    margin-bottom: 4px;
}

.form input {
    border-radius: 100px;
    border: 1px solid #0D9488;
    height: 2rem;
    text-indent: 10px;
    background-color: #fff;
    color: #333;
}
.form textarea {
    border: 1px solid #0D9488;
    text-indent: 10px;
    background-color: #fff;
    color: #333;
}
.form select {
    border: 1px solid #0D9488;
    text-indent: 10px;
    background-color: #fff;
    color: #333;
    padding: 10px 0;
}

.form button {
    border-radius: 100px;
    border: 1px solid #0D9488;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.1s ease-in-out;
}

.form button:hover {
    background-color: #115E59;
    border-color: #042F2E;
    color: white;
}
.form label {
    color: #fff;
    display: flex;
    align-items: center;
}
.form input[type="checkbox"], input[type="radio"] {
    margin-right: 10px;
}

.form fieldset {
    border: 1px solid #262626;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

}