body{
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  align-items:baseline;
  min-width: 600px;
}
#root{
  display: flex;
}
header{
  background-color: rgb(239, 31, 31);
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px 10px;
}