body {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  align-items: baseline;
  min-width: 600px;
  color: #333333;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

header {
  background-color: rgb(239, 31, 31);
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  color: #fff;

  img {
    padding-right: 10px;
  }
}

.travel {
  padding: 15px;
  display: flex;
}

.travel__image img {
  width: 220px;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;

}

.travel__content {
  padding: 0 15px;
}

.travel__map {
  color: #333;
}

.travel__map img {
  width: 12px;
  padding-right: 5px;
}

.location-link {
  color: chocolate;
  display: inline-block;
  padding-left: 10px;
  text-decoration: underline;
}

h2 {
  margin:  0 0 10px;
}